<h2>Tu compra se realizó con éxito</h2>

<h4>Productos Comprados</h4>
{{!-- <ul>
    {{#each purchasedProducts}}
        <li>{{this.product.title}} - {{this.quantity}}</li>
    {{/each}}
</ul>

<h4>Productos No Comprados</h4>
<ul>
    {{#each notPurchasedProducts}}
        <li>{{this.product.title}} - {{this.quantity}}</li>
    {{/each}}
</ul> --}}